HOST=127.0.0.1
PORT=8787
WEB_ORIGIN=http://127.0.0.1:5173

COMMAND_PROVIDER=rules
LLM_BASE_URL=
LLM_MODEL=
LLM_API_KEY=

IMAGE_PROVIDER=stable-diffusion-webui
SD_WEBUI_BASE_URL=http://127.0.0.1:7860
ASSET_CACHE_DIR=.cache/assets

ASR_PROVIDER=mock
ASR_BASE_URL=http://127.0.0.1:9000
